/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT COLOR */
:root {
  --red: #e10600;
  --black: #0b0b0b;
  --dark: #141414;
  --white: #ffffff;
  --gray: #9e9e9e;
}

/* BODY */
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--black);
  color: var(--white);
  line-height: 1.6;
}

/* GLOBAL */
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

section {
  padding: 80px 10%;
}
