.btn-primary {
  margin-top: 30px;
  padding: 14px 36px;
  border: 2px solid var(--red);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: transparent;
  display: inline-block;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* hover effect */
.btn-primary:hover {
  background: var(--red);
  box-shadow: 0 0 20px rgba(225, 6, 0, 0.6);
  transform: translateY(-2px);
}
.btn-primary::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.btn-primary:hover::after {
  left: 0;
}
